<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My board page</title>
    </head>
    <body>
        <form method="POST">
            <input name="board_name">
            <button>Add Board</button>
        </form>
        <ul>
            {% for board in boards %}
                <li>
                    {{ board[1] }}
                <form action="/delete/{{ board[0] }}" method="POST">
                    <button>Delete</button>
                </form>
                <form action="/edit/{{ board[0] }}" method="POST">
                    <input name="new_name"> 
                    <button>Edit</button>
                </form>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>